VITE_SUPABASE_URL=https://wlvlnfiklxzyaoqqxfkg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsdmxuZmlrbHh6eWFvcXF4ZmtnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzMzkzMjMsImV4cCI6MjEwMTkxNTMyM30.Jh-j757CCs-mxVUYF4nu8Y4DMxUJQiWvywZsPW123pY
VITE_NOVA_API_KEY=
VITE_GEMINI_API_KEY=
VITE_GROQ_API_KEY=
VITE_OPENROUTER_API_KEY=
VITE_NVIDIA_API_KEY=
